/*Página Estatísticas e HomePage*/
html, body {
  height: 100%; 
  margin: 0;
  display: flex;
  flex-direction: column;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

main {
  flex: 1;
}

body.dark-mode {
  background-color: #121212;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
    height: 100%; 

}

.toogle-button {
  border: none;
  border-radius: 30px;
}
.container-bst {
    padding: 0 15px;
    width: 100%;
    transition: all 0.4s ease;
}

@media (min-width:768px) {
    .container-bst {
        padding: 0 5vw;
    }
}

@media (min-width:1600px) {
    .container-bst {
        padding: 0 10vw;
    }
}

.logo{
  width: 50px;
}

/* .testefooter{
  display: flex;
} */




